body, p, td, span, textarea, button {
	font-family: "Droid Sans Mono", monospace;
	font-size: 16px;
}

div.input p {
	margin: 0;
}

div.input textarea {
	padding: 10px;
}

div.input button {
	text-align: center;
	padding: 4px 32px;
}

p.position span {
	color: navy;
}

div#white_board {
	cursor: crosshair;
	width: 1000px;
	height: 800px;
	float: right;
	border: 1px solid black;
	position: relative;
}

div#white_board div.char {
	width: 10px;
	height: 10px;
	background-color: red;
	position: absolute;
}
